body,
p,
h1,
h2,
h3 {
  margin: 0;
}

body {
  margin-top: 45px;
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
}

.menu {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu a {
  display: flex;
  background: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  color: black;
  border: 2px solid transparent;
  text-decoration: 0;
}

.menu a:hover {
  border: 2px solid rgb(251, 3, 3);
  text-decoration: 0;
}

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  box-shadow: 0 0 1em #c2c1c1;
}

.introducao {
  background: #fff;
  display: grid;
  gap: 20px;
  place-content: center;
  justify-items: end;
  padding: 40px;
}

.introducao a {
  padding: 16px 32px;
  border-radius: 5px;
  background: red;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}

.introducao a:hover {
  background: #990000;
}

.introducao h1 {
  font-size: 32px;
  font-weight: 700;
}

.introducao p {
  line-height: 26px;
  font-size: 20px;
  text-align: right;
}

.vantagens {
  padding: 40px;
}
.vantagens h2 {
  font-size: 64px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  align-self: center;
  background: url(" https://kotchopires.github.io/teste.html/imagens/onda.svg");
}

.detalhes {
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
}

.detalhes_item {
  padding: 20px;
  display: grid;
  gap: 10px 20px;
  grid-template-columns: auto 1fr;
}

.detalhes_item p {
  grid-column: 2;
}

footer {
}
